* {
	margin: 0px;
	padding: 0px;
}

:root {
	--bg-color: white;
	--txt-color: black;

	--bluegreen1: rgb(122, 194, 203);
	--bluegreen2: rgb(80, 131, 138);

	--card-background: white;
	
	--grayish: rgb(224, 224, 224);
	--dark-grayish: rgb(100, 100, 100);
	--greenish: rgb(34, 93, 45);
	--reddish: rgb(172, 45, 45);
	--bluish: rgb(28, 28, 175);
}

.darkmode {
	--bg-color: rgb(33, 33, 33);
	--txt-color: rgb(220, 220, 220);

	--bluegreen1: rgb(69, 105, 109);
	--bluegreen2: rgb(101, 164, 172);

	--card-background: rgb(66, 66, 66);
	
	--grayish: rgb(66, 66, 66);
	--dark-grayish: rgb(130, 130, 130);
	--greenish: rgb(94, 169, 121);
	--reddish: rgb(189, 101, 101);
	--bluish: rgb(111, 115, 225);
}

.katex { font-size: 1.1em; }

.serif { font-family: Cardo; }

body {
	background-color: var(--bg-color);
	color: var(--txt-color);
}

pre > code {
	font-family: Source Code Pro;
    font-size: 14px;
	line-height: 1.6em;
    background-color: #2E3440;
    border-radius: 8px;
}

#sms-links {
	position: relative;
	margin: 0 auto;
	width: 470px;
	padding-left: 120px;
}

#sms-links > ul {
	list-style-type: none;
}

#sms-links > ul > li {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 40px;
}

#sms-links > ul > li > a {
	color: var(--reddish);
}

#footer {
	position: relative;
	background-color: black;
	color: white;
	font-size: 20px;
	font-family: Ubuntu;
	padding-top: 10px;

	z-index: 1001;
	width: 100%;
}

#footer p {
	text-align: center;
	padding: 10px;
}

#navbar {
	background-color: black;

	width: 100%;
	font-family: Ubuntu;
	position: fixed;

	z-index: 1000;
}

#navbar ul {
	list-style-type: none;
}

#navbar ul li a {
	text-decoration: none;
	text-align: center;
	width: 100px;

	font-size: 25px;

	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;

	margin: 0;

	color: white;
	float: left;

	transition: 0.2s;
}

#navbar ul li a:hover {
	background-color: gray;
}

#darkmode-btn {
	position: absolute;
	top: 15px;
	right: 5%;

	color: rgb(149, 149, 247);
	font-size: 33px;
}

.filters {
	display: flex;
	width: fit-content;
	height: 40px;
}

.filters ul {
	list-style-type: none;
	margin-left: -40px;
}

.filters ul li {
	padding: 0;
	margin: 0;
	font-size: 23px;
	float: left;
	min-width: 100px;
	background: var(--bluegreen1);
}

.filters ul li a {
	display: block;
	padding-left: 20px;
	padding-right: 20px;

	color: black;
	

	text-align: center;
	transition: 0.2s;
}

.filters ul li a:hover {
	cursor: pointer;
	background-color: var(--bluegreen2);
	color: white;
}

.pages {
	padding: 50px;
	padding-top: 100px;
}

.content h1 {
	font-family: Kanit;
	font-size: 45px;
}

.content h2 {
	font-family: Kanit;
	font-size: 35px;
}

.content h3 {
	font-family: Kanit;
	font-size: 25px;
}

.content p {
	font-family: Ubuntu;
	font-size: 25px;

	line-height: 50px;

	margin-bottom: 50px;
}

.content table {
	font-family: Ubuntu;
	font-size: 20px;
	text-align: center;
	margin-left: 20px;
	line-height: 30px;

	border-collapse: collapse;
}

.content td,th {
	padding: 6px;
	border: 2px solid var(--dark-grayish);
}

#specific-activity-post figure {
	margin-bottom: 50px;
}

.content a {
	font-family: Ubuntu;
	font-size: inherit;
	color: rgb(120, 120, 120);
}

.content ul,ol {
	padding-left: 40px;
	font-size: 23px;
	font-family: Ubuntu;
	line-height: 40px;

	padding-bottom: 20px;
}

.subtitles {
	padding-top: 30px;
}

#all-activity-posts {
	display: flex;
	flex-wrap: wrap;
}

.activity-posts-container {
	margin-left: 60px;
	margin-top: 10px;
}

.activity-posts-container a {
	text-decoration: none;
	color: black;
}

.activity-posts {
	box-shadow: 3px 3px 10px rgb(0, 0, 0);

	height: 410px;
	width: 400px;

	margin-top: 50px;

	border-radius: 3px;
	text-decoration: none;
}

.activity-posts h1 {
	display: inline-block;

	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 25px;
}
.activity-posts p {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;

	line-height: 40px;
}

.activity-posts img {
	object-fit: cover;
	width: inherit;
	height: 200px;

	margin-bottom: -10px;

	border-bottom: 2px solid rgb(0, 0, 0, 0.3);

	transition: 0.2s;
}

.activity-posts:hover {
	cursor: pointer;
}

.activity-posts:hover img {
	opacity: 0.6;
}

#specific-activity-post h1 {
	text-align: center;
}

#specific-activity-post img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	margin-bottom: 15px;
}

#specific-activity-post ul,ol {
	line-height: 50px;
}

#specific-activity-post li {
	margin-bottom: 10px;
}

figcaption {
	text-align: center;
	font-family: Ubuntu;
	font-size: 20px;
}
#all-projects-container {
	display: flex;
	flex-wrap: wrap;
}

.project-thumbnails {
	box-shadow: 3px 3px 10px rgb(0, 0, 0);
	
	height: 320px;
	width: 310px;

	margin-top: 50px;
	margin-left: 40px;

	border-radius: 3px;
	text-decoration: none;
}

.project-thumbnails i {
	font-size: 23px;
	margin-right: 3px;
}

.project-thumbnails-img-container {
	width: inherit;

	transition: 0.2s;

	position: relative;
}

.project-thumbnails-img-container img {
	object-fit: cover;
	width: inherit;
	height: 200px;
	padding: 0;
	margin: 0;

	border-bottom: 2px solid rgb(0, 0, 0, 0.3);

	position: absolute;
}

.project-thumbnails-img {
	transition: 0.2s;
}

.project-thumbnails-desc {
	opacity: 0%;
}

.project-thumbnails-img-container p {
	color: black;
	
	position: absolute;
	top: 0px;
	margin: 15px;
	
	font-size: 20px;
	font-family: Kanit;
	line-height: 1.2em;

	transition: 0.2s;
}

.project-thumbnails:hover .project-thumbnails-img {
	filter: opacity(15%);
}

.project-thumbnails:hover .project-thumbnails-desc {
	opacity: 100%;
}

.project-thumbnails-text {
	margin-top: 205px;
}

.project-thumbnails-text h1 {
	color: black;
	font-size: 20px;
	margin-left: 15px;
}

.project-thumbnails-text p {
	color: black;
	font-size: 15px;
	margin-left: 18px;
	vertical-align: bottom;
}

.project-thumbnails-text i {
	font-size: 15px;
}

.project-thumbnails:hover {
	opacity: 0.8;
	cursor: pointer;
}

.project-tags-container {
	display: flex;
	margin-left: 15px;
}

.project-tags {
	border-radius: 10px;
	height: 22px;
	padding-left: 10px;
	padding-right: 10px;

	margin-right: 7px;
	margin-top: 10px;
}

.project-tags p {
	text-align: center;
	margin-top: -14px;
	margin-left: 0px;
	font-size: 12px;
	font-family: Kanit;
}

.random-box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.random-item {
	width: 40vw;
	height: 60vh;
	border: 2px solid var(--txt-color);

	margin: 20px;
}

.random-item h3 {
	font-size: 28px;
	text-align: center;
	margin: 8px 0;
}

.random-item p {
	margin: 0;
	margin-bottom: 5px;
	margin-left: 30px;
	line-height: 1.7em;
	font-size: 1.1vw;
}

.random-item li {
	margin: 0;
	margin-bottom: 5px;
	margin-left: 30px;
	line-height: 1.7em;
	font-size: 18px;
}

@keyframes fade {
	0%, 100% { opacity: 1 }
	50% { opacity: 0 }
}

.fade-out {
	opacity: 0;
	transition: all 0.5s ease;
}

.fade-in {
	opacity: 1;
	transition: all 0.5s ease;
}

#random-setup > ul > li {
	line-height: 1.5em;
}

#random-setup p {
	line-height: 1.5em;
}

#random-resources p {
	line-height: 1.5em;
}

#random-passages > div {
	text-align: center;
	height: calc(100% - 80px);
	
	justify-content: center;
  	align-items: center;
}

#random-passage-text {
	animation: 0.2s fade;
}

#random-passage-text > p {
	font-family: Cardo;
	margin: 0;
	margin-top: -30px;

	color: var(--dark-grayish);
}

#random-passage-info > p {
	float: right;
	margin-right: 15%;
	font-size: 15px;
}

#random-passages button {
	width: 50px;
	background: none;
	border: none;
	margin-top: -50px;

	font-size: 50px;
	color: var(--dark-grayish);

	transition: 0.2s;
}

#random-passages button:hover {
	opacity: 0.5;
	cursor: pointer;
}

#random-tracks table {
	margin: 0;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;

	font-size: 15px;
}

#random-tracks th {
	border: 2px solid var(--grayish);
	border-top: none;
	border-left: none;
	border-right: none;
}

#random-tracks td {
	border: 2px solid var(--grayish);
	border-left: none;
	border-right: none;
	
	margin: 0;
	padding: 0;
	height: 60px;

	line-height: 1.5em;
}

#random-tracks td > img {
	width: 50px;
	margin-top: 5px;
	height: 50px;
}

#latest-commit {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	width: 500px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;

	border: 3px solid var(--grayish);
	border-radius: 10px;
}

#latest-commit p {
	font-size: 17px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 20px;

	line-height: 1.2em;
}